body {
    font-family: Monaco, monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #BDB5D5;
    color: #fff;
    padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: auto 300px;
    justify-content: space-around;
    padding: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #BDB5D5;
  overflow: hidden;
  display: block;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left; 
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFFF8F;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #40B5AD;
  color: white;
}